* {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

/*p {
	color: yellow;
}*/

h1 {
	font-size: 25px;
}

#external {
	color: yellow;
}

#learn {
	text-transform: uppercase;
}

.lang {
	background-color: green;
}

div [id] {  /*huhu*/
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

img + ul {
	list-style-type: none;
}

div img {
	border-radius: 250px;
}

ul ~ p {
	text-align: center;
}

section > li {
	letter-spacing: 5px;
}

img {

}